<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="productBox">
    <div class="productImage clearfix">
      <%= image_tag("img/products/#{related_product[:image]}", :alt => "products-img") %>
    </div>
    <div class="productCaption clearfix">
      <h5><%= related_product[:name] %></h5>
      <h3><%= related_product[:price] %></h3>
    </div>
  </div>
</div>
